/*!
 *  Hack v2.010 by Chris Simpkins - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Modified SIL OFL 1.1 + Bitstream Vera license, CSS: MIT License
 */
@font-face{font-family:'Hack';src:url('../fonts/eot/latin/hack-regular-latin-webfont.eot?v=2.010');src:url('../fonts/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.010') format('embedded-opentype'),url('../fonts/woff2/latin/hack-regular-latin-webfont.woff2?v=2.010') format('woff2'),url('../fonts/woff/latin/hack-regular-latin-webfont.woff?v=2.010') format('woff'),url('../fonts/ttf/latin/hack-regular-latin-webfont.ttf?v=2.010') format('truetype'),url('../fonts/svg/latin/hack-regular-latin-webfont.svg?v=2.010#hackregular') format('svg');font-weight:400;font-style:normal}@font-face{font-family:'Hack';src:url('../fonts/eot/latin/hack-bold-latin-webfont.eot?v=2.010');src:url('../fonts/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.010') format('embedded-opentype'),url('../fonts/woff2/latin/hack-bold-latin-webfont.woff2?v=2.010') format('woff2'),url('../fonts/woff/latin/hack-bold-latin-webfont.woff?v=2.010') format('woff'),url('../fonts/ttf/latin/hack-bold-latin-webfont.ttf?v=2.010') format('truetype'),url('../fonts/svg/latin/hack-bold-latin-webfont.svg?v=2.010#hackbold') format('svg');font-weight:700;font-style:normal}@font-face{font-family:'Hack';src:url('../fonts/eot/latin/hack-regularoblique-latin-webfont.eot?v=2.010');src:url('../fonts/eot/latin/hack-regularoblique-latin-webfont.eot?#iefix&v=2.010') format('embedded-opentype'),url('../fonts/woff2/latin/hack-regularoblique-latin-webfont.woff2?v=2.010') format('woff2'),url('../fonts/woff/latin/hack-regularoblique-latin-webfont.woff?v=2.010') format('woff'),url('../fonts/ttf/latin/hack-regularoblique-latin-webfont.ttf?v=2.010') format('truetype'),url('../fonts/svg/latin/hack-regularoblique-latin-webfont.svg?v=2.010#hackoblique') format('svg');font-weight:400;font-style:italic}@font-face{font-family:'Hack';src:url('../fonts/eot/latin/hack-boldoblique-latin-webfont.eot?v=2.010');src:url('../fonts/eot/latin/hack-boldoblique-latin-webfont.eot?#iefix&v=2.010') format('embedded-opentype'),url('../fonts/woff2/latin/hack-boldoblique-latin-webfont.woff2?v=2.010') format('woff2'),url('../fonts/woff/latin/hack-boldoblique-latin-webfont.woff?v=2.010') format('woff'),url('../fonts/ttf/latin/hack-boldoblique-latin-webfont.ttf?v=2.010') format('truetype'),url('../fonts/svg/latin/hack-boldoblique-latin-webfont.svg?v=2.010#hackboldoblique') format('svg');font-weight:700;font-style:italic}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 72px;
    /*
    padding-bottom: 50px;
    */
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
/*
    border-collapse: collapse;
*/
    border-spacing: 0;
}


/** GENERAL **/

body {
    font-family: Hack, monospace;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


table {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}
table th {padding:4px 10px}
table td {padding:2px 10px 4px 10px}

/** STEP STYLES **/
.step {
    position: relative;
    width: 1000px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    /*font-family: 'PT Serif', georgia, serif;*/
    font-family: Hack, monospace;
    font-size: 48px;
    line-height: 1.5;

    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;

}

.step.active { opacity: 1 }

/* fade out inactive slides */
/*
.step:not(.active) {
	opacity: 0.3;
}
*/


.slide {
    display: block;

    width: 1000px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: Hack, monospace;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

/** SLIDE SPECIFIC STYLES **/

/* fade in all slides in overview step "eg :class: overview" */
.step-overview .step {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -ms-transition:     opacity 2s;
    -o-transition:      opacity 2s;
    transition:         opacity 2s;

}

/* globally define title h1 to be large or it wont look right on overview */
.title {
    padding: 0;
    font-size: 32px;
}

.title h1 {
    font-size: 64px;
    line-height: 70px;
}


.overview { 
	display: none;
}


/* hint on the first slide */
.hint {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;

	background: #333;
	color: #fff;
	text-align: right;

	padding: 10px;
	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;
}
.step-home + .hint {
	opacity: 1;

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s;
	transition:         opacity 1s 5s,         transform 0.5s;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);
}

/** NOT SUPPORTED STYLES **/
.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}

/** PRINT STYLE **/
@media print {
	body {
		background: white;
	}
	.hint {
		display: none;
	}
	#simple {
		width: auto; 
		margin: 0 5%;
		padding: 0; 
		border: 0;
		float: none !important;
		color: black; 
		background: transparent;
	}
	.step {
		page-break-after: always;
		opacity: 1;
		clear: both;
		display: block;
		float: none !important;
		position: relative;
		margin: 20px auto;

		-webkit-transition: rotate(0deg);
		-moz-transition:    rotate(0deg);
		-ms-transition:     rotate(0deg);
		-o-transition:      rotate(0deg);
		transition:         rotate(0deg);
	}
	.step:not(.active) {
		opacity: 1;
	}
}